<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alex.mathleague" >

    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        <activity
            android:name=".SplashScreen"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecondActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_second"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ThirdActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_third"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".FourthActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_fourth"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdditionGame"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_addition_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SubtractionGame"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_subtraction_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ShapesGame"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/title_activity_shapes_game"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdditionResults"
            android:label="@string/title_activity_addition_results"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AdditionGame2"
            android:label="@string/title_activity_addition_game2"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>
